<%=  form_with  model: @cliente, local: true do |form| %>
    
    <div class="form-group">    
        <p>
            <%= form.label :CPF %>
            <br>
            <%= form.text_field :cpf, class: "form-control", placeholder: "Ex.: 99999999999" %>
        </p>
    </div>

    <div class="form-group"> 
        <p>
            <%= form.label :nome %>
            <br>
            <%= form.text_field :nome , class: "form-control", placeholder: "Ex.: Joaquim da Silva"%>
        </p>
    </div>

    <div class="form-group"> 
        <p>
            <%= form.label :endereço %>
            <br>
            <%= form.text_field :endereco, class: "form-control", placeholder: "Ex.: Rua Assis Figueiredo, 204 - Centro" %>
        </p>
    </div>

    <div class="form-group"> 
        <p>
            <%= form.label :cidade %>
            <br>
            <%= form.text_field :cidade, class: "form-control", placeholder: "Ex.:São Sebastião" %>
        </p>
    </div>

    <div class="form-group"> 
        <p>
            <%= form.label :estado %>
            <br>
            <%= form.text_field :estado, class: "form-control", placeholder: "Ex.: São Paulo" %>
        </p>
    </div>

    <div class="form-group"> 
        <p>
            <%= form.label :telefone %>
            <br>
            <%= form.text_field :telefone, class: "form-control", placeholder: "Ex.: 35 3737-3737" %>
        </p>
    </div>

    <% if flash[:notice] %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <br/>

    <p class="text-center">
        <%= form.submit "Enviar Dados", class: "btn btn-dark" %>
    </p>    
<% end %>