<div class="container text-left">
    <div class="row">
        <div class="col-1 text-left">
            <%= link_to 'Voltar', clientes_path, class: "btn btn-dark" %>
        </div>
        <div class="col-11 text-center">
            <h1>Visualização de Cadastro de Cliente</h1>
        </div>        
    </div>   
    <hr>
    <br/><br/>

    <div class="row">
        <div class="offset-2 col-8">
            <p>
                <strong >CPF:</strong>
                <%= @cliente.cpf %>
            </p>
            <p>
                <strong >Nome:</strong>
                <%= @cliente.nome %>
            </p>
            <p>
                <strong >Endereço:</strong>
                <%= @cliente.endereco%>
            </p>
            <p>
                <strong >Cidade:</strong>
                <%= @cliente.cidade %>
            </p>
            <p>
                <strong >Estado:</strong>
                <%= @cliente.estado%>
            </p>
            <p>
                <strong >Telefone:</strong>
                <%= @cliente.telefone %>
            </p>
        </div>
    </div>
</div>