<div class="container text-left">
    <div class="row">
        <div class="col-1 text-left">
            <%= link_to 'Voltar', pedido_orcamentos_path, class: "btn btn-dark" %>
        </div>
        <div class="col-11 text-center">
            <h1>Visualização de Cadastro de Orçamento</h1>
        </div>        
    </div>   
    <hr>
    <br/><br/>

    <div class="row">
        <div class="offset-2 col-8">
            <p>
                <strong >Data de Realização:</strong>
                <%= @pedido_orcamento.data %>
            </p>
            <p>
                <strong >Cliente:</strong>
                <%= @cliente.nome %>
            </p>
            <p>
                <strong >Tipo de Aparelho:</strong>
                <%= @tipo_aparelho.nome %>
            </p>
            <p>
                <strong >Prazo Estimado de Manutenção:</strong>
                <%= @tipo_aparelho.prazo_manutencao %> dias (a contar a partir da data de aprovação)
            </p>
            <p>
                <strong >Valor Total:</strong>
                R$ <%= '%.2f' % (@pedido_orcamento.valor_mao_de_obra + @valor_produto) %>
            </p>
            <p>
                <strong >Valor da Mão de Obra:</strong>
                R$ <%= '%.2f' % @pedido_orcamento.valor_mao_de_obra %>
            </p>
            <p>
                <strong >Valor dos Produtos:</strong>
                R$ <%= '%.2f' % @valor_produto %>
            </p>
            <p>
                <strong >Status Autorização:</strong>
                <%= @status_autorizacao.descricao_status %>
            </p>
            <p>
                <strong >Funcionário Responsável:</strong>
                <%= @funcionario.nome %>
            </p>
            <br/><br/>
            <div class="col-12 text-center">
                <%= link_to 'Visualizar Itens Desse Orçamento', pedido_orcamento_item_orcamentos_path(@pedido_orcamento.id), class: "btn btn-outline-dark" %>
            </div>
        </div>
    </div>
</div>