<%=  form_with model: [@pedido_orcamento, @item_orcamento], local: true do |form| %>
    
    <div class="form-group"> 
        <p>
            <%= form.text_field :pedido_orcamento_id, class: "form-control", value:@pedido_orcamento.id, type: "hidden" %>
        </p>
    </div>

    <div class="form-group"> 
        <p>
            <%= form.label :"Produto" %>
            <br>
            <%= form.collection_select :produto_id, @produtos, :id, :descricao, class: "form-control" %>
        </p>
    </div>

    <div class="form-group">    
        <p>
            <%= form.label :"Quantidade" %>
            <br>
            <%= form.text_field :quantidade, class: "form-control", placeholder: "Ex.: 12" %>
        </p>
    </div>   

    <% if flash[:notice] %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <br/>
    
    <p class="text-center">
        <%= form.submit "Enviar Dados", class: "btn btn-dark" %>
    </p>    
<% end %>