<div class="container text-left">
    <div class="row">
        <div class="col-1 text-left">
            <%= link_to 'Voltar', fornecedores_path, class: "btn btn-dark" %>
        </div>
        <div class="col-11 text-center">
            <h1>Visualização de Cadastro de Fornecedor</h1>
        </div>        
    </div>   
    <hr>
    <br/><br/>

    <div class="row">
        <div class="offset-2 col-8">
            <p>
                <strong >CNPJ:</strong>
                <%= @fornecedor.cnpj %>
            </p>
            <p>
                <strong >Razão Social:</strong>
                <%= @fornecedor.razao_social %>
            </p>
            <p>
                <strong >Nome Fantasia:</strong>
                <%= @fornecedor.nome_fantasia %>
            </p>
            <p>
                <strong >Endereço:</strong>
                <%= @fornecedor.endereco%>
            </p>
            <p>
                <strong >Cidade:</strong>
                <%= @fornecedor.cidade %>
            </p>
            <p>
                <strong >Estado:</strong>
                <%= @fornecedor.estado%>
            </p>
            <p>
                <strong >Telefone:</strong>
                <%= @fornecedor.telefone %>
            </p>
        </div>
    </div>
</div>