<div class="container text-center">
    <div class="row">
        <div class="col-6 text-left">
            <h1>Itens do Pedido</h1>
        </div>

        <div class="col-6 text-right">
            <%= link_to 'Novo Orçamento', new_item_pedido_path, class: "btn btn-dark" %>
        </div>
    </div>   
    <hr>
    <br/><br/>

    <table class="table table-striped"> 
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descricao</th>
                <th scope="col">Quantidade</th>	
                <th scope="col" colspan="3">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% @item_pedidos.each do |item_pedido| %>
                <tr>
                    <th scope="row"><%= item_pedido.id %></td>
                    <td><% @produtos.each do |produto|
                            if item_pedido.id_produto == produto.id %>
                                <%= produto.descricao %>
                            <% end
                        end %>
                    </td>
                    <td><%= link_to 'Visualizar', item_pedido, class: "btn btn-outline-primary" %></td>
                    <td><%= link_to 'Editar', edit_item_pedido_path(pedido_orcamento),  class: "btn btn-outline-success" %></td>
                    <td><%= button_to 'Excluir', item_pedido, method: :delete, class: "btn btn-outline-danger" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>